.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  height: 75px;
}

nav {
  height: 150px;
}

.primary div {
  height: 125px;
}

.secondary {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
}

.secondary div {
  height: 250px;
}

footer {
  height: 80px;
}

@media screen and (min-width: 768px) {
  /* body {
    width: 960px;
  } */
  header {
    max-width: 960px;
    margin: 0 auto;
  }
  main {
    display: flex;
    flex-direction: row;
    max-width: 960px;
    margin: 0 auto;
  }
  nav {
    height: 600px;
    width: 20%;
  }
  .flexed-divs {
    width: 80%;
  }
  .primary {
    display: flex;
    flex-direction: row;
  }
  .primary div {
    height: 200px;
    width: 50%;
  }
  .secondary {
    width: 100%;
    flex-wrap: nowrap;
  }
  .secondary div {
    width: 50%;
  }
  footer {
    height: 150px;
  }
}
